
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header,
footer {
    /* max-width: 1000px; */
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: rgba(27, 60, 244, 0.868);
    color: white;
}
main {
    background-color: lightgray;
    padding: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 0 auto; 
    padding: 1rem;
    max-width: 1000px;
}

main img {
    width: 100%;
    max-width: 300px;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px black;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

nav a {
    padding: 20px;
    color: white;
    display: none;
}

nav a:hover {
    text-decoration: none;
    color: #2b2b2b;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    display: block;
    margin: 0 auto;
}

.menu-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    margin: 5px 0;
}

#work {
    grid-column: 1 / -1;
}

footer {
    text-align: center;
    font-size: 20px;
    color: white;
}



@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .menu-btn{
        display: none;
    }
    nav a {
        display: inline;
    }
    nav {
        text-align: center;
    }
}
          

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
    }
    .pic {
        max-width: 300px;
    }
}