#content {
    margin: 0 auto;
    padding: 60px;
    padding-top: 0px;
}
h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
}
h2 {
    color: rgb(56, 165, 201);
    text-align: center;
    font-size: 20px;
}
p {
    margin-bottom: 15px;
    line-height: 1.5;
}
#numbers {
    list-style-type: decimal;
    margin-left: 40px;
}
li {
    margin-bottom: 15px;
    line-height: 1.5;
    margin-left: -20px;
}
img {
    display: block;
    margin: 20px auto;
    width: 25%;
    height: auto;
}
.fancy {
    font-style: italic;
}