#content {
    margin: 0 auto;
    max-width: 900px;
    padding: 80px;
}
h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
}
h2 {
    color: rgb(56, 165, 201);
    text-align: center;
    font-size: 20px;
}
p {
    margin-bottom: 15px;
    line-height: 1.5;
}
#numbers {
    margin: 0;
    padding-left: 40px;
}
#numbers li {

    margin: 0 0 15px 0;
    line-height: 1.5;
    
}
img {
    display: block;
    margin: 80px auto 0;
    width: 40%;
    max-width: 300px;
    height: auto;
}
.fancy {
    font-style: italic;
}