body { 
    background-color: gray;
    font-size: 20px;
}

#content {
    max-width: 60%;
    border: 1px solid darkgray;
    margin: 40px auto;
    padding: 50px;
}

p {
    color: #035f96;
    font-size: 1.3em;
}

hr {
    height: 3px;
    background-color: #035f96;
    width: 80%;
}

h1, h2, p {
    text-align: center;
}

img {
    width: 50%;
    display: block;
    margin: 0 auto;
}